<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#">Home</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Products</a>
          <div class="navbar-dropdown">

          {{#each site.components}}
              {{#each ./versions}}
                {{~#if (eq this ../latestVersion)}}
                  <a class="navbar-item{{#if (eq ../this @root.page.component)}} is-current{{/if}}" href="{{{relativize @root.page.url ./url}}}">{{{../title}}}</a>
                {{/if}}
              {{/each}}
          {{/each}}

          </div>
        </div>
        <div class="navbar-item">
          <span class="control">
            <a class="download button is-primary" href="#">Print (PDF)</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
