:root {
  --color-text: #222;
  --color-navbar-bg: #162457;
  --color-navbar-bg-focus: #162457;
  --color-navbar-text: #fff;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: SourceSansPro, Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  text-size-adjust: 100%;
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 1.2em;
  }
}

body {
  color: var(--color-text);
  line-height: 1.6;
  margin: 0;
}

@media print {
  body {
    padding-top: 0 !important;
  }

  nav.navbar {
    position: static !important;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code,
kbd,
pre {
  font-family: "Roboto Mono", monospace;
}

b,
dt,
strong,
th {
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 0.3333rem;
  height: 0.3333rem;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: transparent;
}

/* for the 16 below classes, see: */
/* https://www.methods.co.nz/asciidoc/chunked/ch10.html */
/* https://en.wikipedia.org/wiki/Web_colors#HTML_color_names */

span.white {
  color: #fff;
}

span.silver {
  color: #c0c0c0;
}

span.gray {
  color: #808080;
}

span.black {
  color: #000;
}

span.red {
  color: #f00;
}

span.maroon {
  color: #800000;
}

span.yellow {
  color: #ff0;
}

span.olive {
  color: #808000;
}

span.lime {
  color: #0f0;
}

span.green {
  color: #008000;
}

span.aqua {
  color: #0ff;
}

span.teal {
  color: #008080;
}

span.blue {
  color: #00f;
}

span.navy {
  color: #000080;
}

span.fuchsia {
  color: #f0f;
}

span.purple {
  color: #800080;
}
