html.is-clipped--nav {
  overflow-y: hidden;
}

.navigation-menu {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  /* help Chrome calculate the height correctly; must match .navigation value minus height of drawer */
  height: calc(100vh - var(--navbar-height) - var(--toolbar-height) - var(--drawer-height));
}

@media screen and (min-width: 1024px) {
  .navigation-menu {
    height: calc(100vh - var(--navbar-height) - var(--drawer-height));
  }
}

.navigation-menu:not(.is-active) {
  display: none;
}

.navigation-container,
.navigation-menu {
  background-color: #dedede;
}

.nav-menu {
  flex-grow: 1;
  min-height: 0;
}

.nav-menu h3.title {
  margin: 0;
  font-weight: 500;
  color: #424242;
  font-size: 1em;
  /*
  padding: 0.125em 0.75em 0.25em;
  */
  /*
  padding: 0.25em 0.75em;
  */
  padding: 0.125rem 0.5rem 0.25rem;
}

.nav-menu a,
.nav-menu a:visited {
  color: inherit;
}

.nav-list {
  margin: 0;
  /* bottom padding allows scroll to extend slightly beyond end of list */
  padding: 0 0 0.5em;
  width: 100%;
}

.nav-list .nav-list {
  margin-left: 1em;
  padding-bottom: 0;
}

.nav-item {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

ul.nav-list .nav-item .is-current-page,
ul.nav-list .nav-item .is-current-path {
  background-color: #d9d9d9;
}

.nav-menu .title a {
  /* margin-left: 20px; */
}

.nav-item:not(.is-active) > .nav-list {
  display: none;
}

/* matches list without a title */
.nav-item[data-depth="0"] > .nav-list:first-child {
  display: block;
  margin-left: 0;
}

.nav-item[data-depth="0"] > .nav-list:first-child > .nav-item:first-child {
  padding-top: 0;
}

.nav-toggle {
  background: transparent url(../img/caret.svg) no-repeat left center;
  background-size: 85%;
  border: none;
  cursor: pointer;
  height: 1.85em;
  outline: none;
  padding: 0;
  /* nudge font size and width to fix calculation error in Chrome */
  font-size: 0.95em;
  width: 1.0526em;
}

@media (min-width: 769px) {
  .nav-toggle {
    height: 1.6em;
  }
}

.nav-toggle::-moz-focus-inner {
  border: none;
}

.nav-item.is-active > .nav-toggle {
  transform: rotate(90deg);
}

.nav-link,
.nav-text {
  display: inline-block;
  line-height: 1.85;
  margin-left: 1em;
  padding-left: 0.25em;
}

@media (min-width: 769px) {
  .nav-link,
  .nav-text {
    line-height: 1.6;
  }
}

.is-current-page > .nav-link,
.is-current-page > .nav-text {
  font-weight: bold;
}

.nav-toggle + .nav-link,
.nav-toggle + .nav-text {
  margin-left: 0;
}
