.doc .quoteblock {
  position: relative;
}

.doc .quoteblock blockquote::before {
  position: absolute;
  display: block;
  content: "\f10d";
  font-family: "Font Awesome 5 Free", SourceSansPro, Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.25rem;
  left: 0.25em;
  top: -0.5em;
  opacity: 0.8;
}
