<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{detag (or page.title 'Untitled')}}}{{#if site.title}} :: {{site.title}}{{/if}}</title>
    {{#if page.canonicalUrl}}
    <link rel="canonical" href="{{page.canonicalUrl}}">
    {{/if}}
    {{#if page.description}}
    <meta name="description" content="{{page.description}}">
    {{/if}}
    {{#if page.keywords}}
    <meta name="keywords" content="{{page.keywords}}">
    {{/if}}
    {{#if (or antoraVersion site.antoraVersion)}}
    <meta name="generator" content="Antora {{or antoraVersion site.antoraVersion}}">
    {{/if}}
    <link rel="stylesheet" href="{{uiRootPath}}/css/site.css">
    <link rel="stylesheet" href="{{uiRootPath}}/vendor/css/fontawesome-free-5.9.0-web.min.css">
    <link rel="apple-touch-icon" sizes="60x60" href="_/img/apple-touch-icon.png">
    <link rel="shortcut icon" href="_/img/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="_/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="_/img/favicon-16x16.png">
    <link rel="mask-icon" href="_/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
{{> head}}
  </head>
  <body class="article">
{{> header}}
{{> main}}
{{> footer}}
  </body>
</html>
